<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271388343326-sh13t0vbfsr788jhcjlspb363d3hfc4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271388343326-sh13t0vbfsr788jhcjlspb363d3hfc4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBtZuSmg8KIXTPCREJ7H1pcXlFEzQqiuK4</string>
	<key>GCM_SENDER_ID</key>
	<string>271388343326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanjaypathak.TaxiApp</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-db596</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-db596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271388343326:ios:7004f92c848a27bf8b020f</string>
	<key>DATABASE_URL</key>
	<string>https://taxiapp-db596.firebaseio.com</string>
</dict>
</plist>